<bootstrap-navbar current-tab='About'></bootstrap-navbar>
<div class='admin_menu_debug' id='debug'></div>
		</div>
		<div class='admin_window_heading' id='admin_window_heading'>EPStack - Home</div>
		<div class='admin_window' id='admin_window'>
			<div class='home'>
				<p>Thank you for downloading EPStack!</p>
				<p>EPStack is a ready-to-deploy log management solution. This is a scalable solution that offers much more than just log management. It is capable of a variety of inputs and can be used for a wide spectrum of use cases. We have taken the hassle of setup and configuration of ELK stack away so you can concentrate on what’s most important – collecting the data and start analyzing.</p>
				<p class='home_head1_text'>Highlights of EPStack</p>
				<ul>
					<li>Admin Panel with GUI based Logstash configuration editor</li>
					<li>User Management</li>
					<li>Empower your organization with a threat intelligence platform</li>
				</ul>
				<br />
				Visit www.epstack.io for more information and knowledge base.

				EPSTACK version 2.5 RC
				Enquires: <a class='home_link_text' href='mailto:contactus@elevatedprompt.com?EPStack Enquiry' target='_top'>contactus@elevatedprompt.com</a><br />
				bbWebsite: <a class='home_link_text' href='http://www.getepstack.com'>www.getepstack.com</a>
			</div>
		</div>
		<div class="EP_Footer">
		    <i><sub>&copy; 2016 elevatedprompt [EPSTACK version 2.5 RC April 25, 2016]</sub></i>
		</div>
