<bootstrap-navbar current-tab='Home'></bootstrap-navbar>
<div class="table">
  <div class="row">
    <div class="center">
      <div class="jumbotron" style="width:100%">
        <p class="lead">
          <img src="images/EP-logo.jpg" alt="Elevated Prompt"><br>
        </p>
        <p><h6>Enquires:<a class='home_link_text' href='mailto:contactus@elevatedprompt.com?EPStack Enquiry' target='_top'>contactus@elevatedprompt.com</a></h6></p>
        <p><h6>Website: <a class='home_link_text' onclick='window.open("http://elevatedprompt.com")'>www.elevatedprompt.com</a></h6></p>
      </br>
      </div>
    </div>
    <div class="center">
    </div>
    <div class="left" style="padding-left:10px;padding-top:10px;padding-right:10px">
      <div class='admin_window' id='admin_window'>
  			<div class='home'>
  				<p style="font-weight:bold">Thank you for using EPSTACK!</p>
  				<p>EPSTACK is a ready-to-deploy log management solution. This is a scalable solution that offers much more than just log management. It is capable of a variety of inputs and can be used for a wide spectrum of use cases. Start collecting and analyzing your data today!</p>

          <p class='home_head1_text'>Highlights of EPSTACK</p>
  				<ul>
  					<li>Admin Panel with GUI based configuration editor</li>
  					<li>User Management</li>
  					<li>Supports various inputs and formats</li>
            <li>Manage unstructured data</li>
  				</ul>
  				<br />
  				Visit <a class='home_link_text' target="_top" onclick='window.open("http://www.epstack.io")'>www.epstack.io</a> for more information and knowledge base.
  			</div>
  		</div>
    </div>
  </div>
</div>
<div class="EP_Footer">
    <i><sub>&copy; 2016 elevatedprompt [EPSTACK version 2.5 RC April 25, 2016]</sub></i>
</div>
