<bootstrap-navbar current-tab='Home'></bootstrap-navbar>
<div class="jumbotron">
  <h1>EPStack - Home</h1>
  <p class="lead">
    <img src="images/EP-logo.jpg" alt="Elevated Prompt"><br>
  </p>
  Enquires: <a class='home_link_text' href='mailto:contactus@elevatedprompt.com?EPStack Enquiry' target='_top'>contactus@elevatedprompt.com</a><br />
  Website: <a class='home_link_text' href='http://www.getepstack.com'>www.getepstack.com</a>
</br>
</div>

<span>Thank you for  downloading EPStack; a pre-packaged ready-to-deploy ELK stack appliance. ELK is an open source product combining three components: Elasticsearch, Logstash and Kibana. We have taken the hassle of setup and configuration of ELK stack away so you can concentrate on what’s most important – collecting the data and start analyzing.</pspan>
<span class='home_head1_text'>Highlights of EPStack</span>
<ul>
  <li>Admin Panel with GUI based Logstash configuration editor</li>
  <li>User Management</li>
  <li>Empower your organization with a threat intelligence platform</li>
</ul>
<br />
