<bootstrap-navbar current-tab='Home'></bootstrap-navbar>
<div class="table">
  <div class="row">
    <div class="center">
      <div class="jumbotron" style="width:100%">
        <p class="lead">
          <img src="images/EP-logo.jpg" alt="Elevated Prompt"><br>
        </p>
        <p><h6>Enquires:<a class='home_link_text' href='mailto:contactus@elevatedprompt.com?EPStack Enquiry' target='_top'>contactus@elevatedprompt.com</a></h6></p>
      <p><h6>Website: <a class='home_link_text' href='http://www.getepstack.com'>www.getepstack.com</a></h6></p>
      </br>
      </div>
    </div>
    <div class="center">
    </div>
    <div class="left" style="padding-left:10px;padding-top:10px">
      <div class='admin_window' id='admin_window'>
  			<div class='home'>
  				<p style="font-weight:bold">Thank you for downloading EPStack!</p>
  				<p>EPStack is a ready-to-deploy log management solution. This is a scalable solution that offers much more than just log management. It is capable of a variety of inputs and can be used for a wide spectrum of use cases. We have taken the hassle of setup and configuration of ELK stack away so you can concentrate on what’s most important – collecting the data and start analyzing.</p>

          <p class='home_head1_text'>Highlights of EPStack</p>
  				<ul>
  					<li>Admin Panel with GUI based configuration editor</li>
  					<li>User Management</li>
  					<li>Supports various inputs and formats</li>
            <li>Manage unstructured data</li>
  				</ul>
  				<br />
  				Visit <a class='home_link_text' href='http://www.epstack.io'>www.epstack.io</a> for more information and knowledge base.
          <br />
          <br />
          <div class="container-narrow">
              <i><sub>EPSTACK version 2.0 RC January 17, 2016 <br />&copy; 2016 elevatedprompt</sub></i>
          </div>
  			</div>
  		</div>
    </div>
  </div>
</div>
