<bootstrap-navbar current-tab='Notifications'></bootstrap-navbar>
<table class="table table-striped">
  <thead>
    <th>Files</th>
    <th>File Content</th>
  </thead>
    <tbody>
    <script>
        function enableTab(id) {
            var el = document.getElementById(id);
            el.onkeydown = function (e) {
                if (e.keyCode === 9) { // tab was pressed

                    // get caret position/selection
                    var val = this.value,
                        start = this.selectionStart,
                        end = this.selectionEnd;

                    // set textarea value to: text before caret + tab + text after caret
                    this.value = val.substring(0, start) + '\t' + val.substring(end);

                    // put caret at right position again
                    this.selectionStart = this.selectionEnd = start + 1;

                    // prevent the focus lose
                    return false;
                }
            };
        }

        // Enable the tab character onkeypress (onkeydown) inside textarea...
        // ... for a textarea that has an `id="my-textarea"`
        enableTab('notificationTextArea');
    </script>
    <tr>
      <td>
        <label class="header" text ="Notifications">Notifications</label>
        <ul>
            <li ng-repeat="notify in notifications"><img  ng-src='./images/icons/X.png' ng-click="deleteFile(notify);" ></img> &nbsp;<a ng-click="updateTextArea(config);">{{config.replace('/etc/logstash/conf.d//','')}}</a>
            </li>
        </ul>
        <a class="btn btn-primary" ng-click="createNotificationConfig()" ><span class="glyphicon glyphicon-plus"></span> Create Notification</a>
        <br />
        <br />

      </td>
      <td>
          <table width="100%" >
            <tr>
              <td>
                Notification Name: <input type="text" class="filename" ng-model="notificationName"  />
              </td>
            </tr>
              <tr>
                  <td width="100%">
                    Search Name:  <select name="repeatSelect" id="repeatSelect" ng-model="selectedSearch">
                                    <option ng-repeat="option in avalibleSearches" value="{{option.title}}">{{option.title}}</option>
                                  </select>
                  </td>
              </tr>
            <tr>
              <td>
                Threshold Type: <select name="thresholdType" id="thresholdType" ng-model="selectedSearch">
                                  <option value="Max">Max</option>
                                  <option value="Max">Min</option>
                                  <option value="Max"></option>
                                </select>
              </td>
            </tr>
            <tr>
              <td>
                Threshold Count: <input type="text" class="filename" ng-model="notificationName"  />
              </td>
            </tr>
            <tr>
              <td>
                Threshold Time Interval: <input type="number" class="timeValue" ng-model="timeValue"  />
                                <select name="timeFrame" id="timeFrame" ng-model="timeFrame">
                                  <option value="m">Minutes</option>
                                  <option value="h">Hours</option>
                                  <option value="d">Days</option>
                                </select>
              </td>
            </tr>
            <tr>
              <td>
                Description: <input type="text" class="filename" ng-model="notificationDescription"  />
              </td>
            </tr>
            <tr>
                  <td>
                      <textarea style="texteditor" border=true id="notificationTextArea" ng-model="configuration" rows="25" />
                  </td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-primary" ng-click="saveConfigFile()" ><span class="glyphicon"></span>Save</a>
                </td>
              </tr>
          </table>
          <a class="btn btn-primary" ng-click="testNotifyService()" ><span class="glyphicon"></span>Test Notify Service</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="EP_Footer">
    <i><sub>&copy; 2016 elevatedprompt [EPSTACK version 2.0 RC January 17, 2016]</sub></i>
</div>
<h2 >debug info</h2>
<pre>Form data settings = "{{avalibleSearches | json}}"</pre>
<pre>Form data settings = "{{scope | json}}"</pre>
<pre>Location = "{{selectedSearch}}"</pre>
